header.masthead {
  background: linear-gradient(0deg,#68ed75,#32ff47);
}

header.masthead .bg-circle {
  background: linear-gradient(0deg,#56ff67,#7fff8c);
}

h1 {
  font-family: 'Oswald';
}

h2 {
  font-family: 'Oswald';
}

.nav-item, .nav-link {
  font-family: 'Oswald';
  font-weight: 100 !important;
}

.juntarLinha {
  line-height: 1;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #66FF75 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

.masthead.backgroundAbstractGreen {
  height: 100%;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(78,186,88) !important;
  border-color: rgb(78,186,88);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(12,84,0,0.5);
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background: rgb(78,186,88) !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #34bf43!important;
  border-color: #34bf43!important;
}

.btn.btn-primary.btn-block {
  border: none;
}

